body{
  margin: 0px;
  background-color: grey;
}
header{
  background-color: black;
  padding: 20px;
}
header a{
  margin-left: 30px;
  color: white;
}
#card0,#card1,#card2,#card3,#card4{
  margin: 20px auto;
  width: 400px;
  height: 450px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}
#card0>img,#card1>img,#card2>img,#card3>img,#card4>img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 400px;
  height: 400px;
}
li>a{
  text-decoration: none;
  color: black;
}

html{
  scroll-behavior: smooth;
}